body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.m_title{
  width:50%;
}

.m_image{
  justify-content: center;
  size: 100;
  width:200%;
}